*{
    margin: 0%;
}
nav{
    height: 100%;
    width: 30%;
    
    display: flex;
    flex-direction: column;
    position: fixed;
   
    
    

    
    
}
.profile{
    background-color:gray;
    width: 100%;
    height: 40%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile>img{
    border-radius: 50%;
    width: 160px;
   }

.logo{
    display: flex;
    flex-direction: row;
    gap: 10px;
    

}
.logo> a img{
    width:30px;
}
.menu{
    display: flex;
   justify-content: flex-end;
    height: 60%;
    background-color: black;
    color: aliceblue;
}



.menu li{
    margin: 20px;
    
   position: relative;
}
.menu>ul>li a{
    text-decoration: none;
   color: #fff;
    font-size: larger;
    transition:  color 0.3s ease;

}
.menu>ul>li:hover a{
    color: #9b50cc;

}
.nav-link::before {
content: "";
position: absolute;
width: 0;
height: 3px;
bottom:0;

transform: translateY(-50%);
background-color: #9b50cc;
visibility: hidden;
transition: all 0.3s ease-in-out 0s;
}
.nav-link:hover:before {
    visibility: visible;
    width: 50%;
}


main{
    margin-left: 30%;
    padding-left: 1%;
    display: flex;
    flex-direction: column;
color: white;
    background-color:#35374B;

    
}
.face_1{
    display: flex;
    
    width: 100%;
    height: 100%;
}
.about{
    max-width: 50%;
    max-height: 50%;
    text-align: center;
    
    
    
}
.about span{
    color: rgb(139, 169, 197);
}

.pic{
    width: 50%;
    height: 50%;
}
.pic>img{
    width: 100%;
    height: 100%;
}



.titel h2:after {
    display: block;
    position: absolute;
    content: '';
    width: 40px;
    background-color: #007ced;
    height: 3px;
  
}
.content{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
    
}
.box{
    width: 50%;
    font-size:small;
}
.box>img{
    height: 30%;
}
.box span{
    color: rgb(40, 216, 232);
   
    font-weight: 200;
}
.face_3{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.tab{
    display: flex;
    flex-direction:row;
   width: 100%;
    gap: 1%;
    justify-content:space-evenly;

}
.fun{
   
    
  background-color: #333;
  border-radius: 10%;
  width:23%;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;  
  margin-bottom: 2%; 
  margin-top: 1%;
}
.fun>img{
    height: 30%;
}


.fun:hover{
    scale: 1.1;
    filter: brightness(1)contrast(1) saturate(1);
    filter: drop-shadow(1px 1px 10px rgb(16, 133, 235));
    
}
.fun>h3{
    margin: 0;
    font-weight: 200;
    font-size: small;
}
.fun span{
    font-size: large;
    font-weight: 600;
}

.timeline {
    position: relative;
    max-width:100%;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .timeline::after{
    content: "";
    position: absolute;
    width: 6px;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 50%;
  }
  .container_1{
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  .container_1::after{
    content: '';
    position:absolute;
    width: 25px;
    height: 25px;
    background-color: #007ced;
    border: 4px solid ;
    border-radius: 50%;
    right:-15px;
    top: 10%;
    z-index: 1;

  }
  .left{
    left: 0;
  }
  .right{
    left: 50%;
  }
  .right::after{
    left:-10px;
  }
  
 
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 20px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 20px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  .con{
    padding: 20px 30px;
    background-color: #333;
    position: relative;
    border-radius: 10px;
  }
 .exp{
    margin-top: 1%;
    display: flex;
    flex-direction: column;

 }
 .exp_1{
    display: flex;
    gap: 1%;
    justify-content: center;
 }
 .exp_1 span{
    font-weight: 100;
    font-size: large;
    color: #007ced;
 }
.exp_1>h5{
display: block;

padding: 0px 10px;
border: 2px solid  rgb(139, 169, 197);
border-radius: 10px;
margin-bottom: 1%;
font-weight: 200;
}
.exp_2 span{
    color: rgb(40, 216, 232);
}
.skill{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 2%;
    gap: 5px;
    

}
.skill_box{
 display: flex;
 flex-direction: column;
 margin: 4px;
}
.skill_1{
    margin-bottom: 1%;
    
}
.skill_1>h5{
    margin: 0;
    position: relative;
    float: left;

}
.skill_1 span{

position: relative;
display: block;
float:right;

}
.line{
    width: 100%;
    border: 3px solid rgba(210, 210, 231, 0.2);
    border-radius: 8px;
    padding: 2px 2px;
    background-color: transparent;
}
.s1{
    width:100%;
    height:5px;

    background-color: #007ced;
}
.s2{
    width:80%;
    height:5px;
    background-color: #007ced;
}

.s3{
    width:70%;
    height:5px;
    background-color: #007ced;
}
footer{
    position: relative;
    z-index: 1;
    background-color: #333;
    
    
}
.foot{
    display: flex;
    flex-direction: row;
justify-content: space-between;
}

.foot_2 ul{
list-style: none;
}
.foot_2>ul li{
    display: inline;
}